.mainPanel {
  justify-self: start;
  header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    .time {
      margin-left: 16px;
      text-align: right;
    }
  }
  main {
    margin: 16px 0;
    display: flex;
    align-items: center;
    .reactIcon svg {
      width: 108px;
      height: 108px;
      margin-right: 16px;
    }
  }
  footer {
    display: flex;
    align-items: center;
    .description { text-transform: capitalize; }
    .date {
      display: flex;
      flex-direction: column;
      text-align: right;
      margin-left: auto;
    }
  }
}
