.container {
  display: grid;
  place-items: center;
  margin: 0 auto;
  .days-container {
    width: 100%;
    grid-column: span 2;
    margin-top: 36px;
    .days {
      display: flex;
      justify-content: space-between;
    }
    h1 {
      margin: 0 16px;
      color: white;
    }
  }
}

@media screen and (max-width: 1200px) {
  .container {
    display: flex;
    flex-direction: column;
    .days-container {
      .days {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
      }
    }
  }
}
