.container {
  display: grid;
  place-items: center;
  margin: 0 auto;
  .days-container {
    width: 100%;
    grid-column: span 2;
    margin-top: 36px;
    .days {
      display: flex;
      justify-content: space-between;
    }
    h1 {
      font-size: 96px;
      margin-left: 16px;
      color: white;
    }
  }
}