/* General rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", "Times New Roman", monospace, sans-serif;
}

h2 {
  font-size: 40px;
}

/* App.tsx specific rules */

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
