@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", "Times New Roman", monospace, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url("https://i.pinimg.com/originals/86/8b/48/868b48f0ec5b3d88216f4a484b880f59.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h2 {
  font-size: 40px;
}
