.searchBar {
  margin: 8px;
  form {
    display: flex;
    input,
    button {
      all: unset;
      display: flex;
      align-items: center;
      color: rgb(255, 255, 255);
      background-color: rgba(0, 0, 0, 0.3);
      font-weight: bold;
      border-radius: 999px;
    }
    input {
      padding: 0 26px;
    }
    button {
      aspect-ratio: 1 / 1;
      justify-content: center;
      cursor: pointer;
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .searchBar {
    form {
      input {
        width: 144px;
        height: 36px;
        font-size: 20px;
      }
      button {
        height: 36px;
        font-size: 24px;
        margin-left: 8px;
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .searchBar {
    form {
      input {
        width: 192px;
        height: 48px;
        font-size: 24px;
      }
      button {
        height: 48px;
        font-size: 30px;
        margin-left: 10px;
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .searchBar {
    form {
      input {
        width: 240px;
        height: 60px;
        font-size: 28px;
      }
      button {
        height: 60px;
        font-size: 36px;
        margin-left: 12px;
      }
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .searchBar {
    form {
      input {
        width: 288px;
        height: 72px;
        font-size: 32px;
      }
      button {
        height: 72px;
        font-size: 42px;
        margin-left: 14px;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .searchBar {
    form {
      input {
        width: 384px;
        height: 84px;
        font-size: 40px;
      }
      button {
        height: 84px;
        font-size: 48px;
        margin-left: 16px;
      }
    }
  }
}
